@media only screen and (max-width: 1440px) {
  .homepage-anm .nav-bar a img {
    width: 180px;
  }

  .homepage-anm .nav-bar {
    padding: 10px 60px;
  }

  .homepage-anm .nav-bar .button {
    padding: 12px 10px !important;
  }

  .homepage-anm .nav-bar .nav-link {
    font-size: 14px;
  }

  .homepage-anm .nav-bar .button .button-2 {

    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
  }

  .homepage-anm .nav-bar .div .image-1 {
    width: 170px;
    height: 60px;
  }

  .homepage-anm .nav-bar .div {
    width: 900px;
  }

  .homepage-anm .nav-bar .div .frame-1 .frame-2 .text-wrapper-2 {
    font-size: 14px;
  }

  .homepage-anm .nav-bar .div .frame-1 .frame-3 .text-wrapper-3 {
    font-size: 14px;
  }

  .homepage-anm .nav-bar .div .frame-1 .frame-4 .text-wrapper-4 {
    font-size: 14px;
  }

  .homepage-anm .nav-bar .div .frame-1 .frame-5 .text-wrapper-5 {
    font-size: 14px;
  }

  .homepage-anm .nav-bar .div .frame-1 .frame-4 .text-wrapper-3 {
    font-size: 14px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-2 .text-wrapper-1 {
    font-size: 42px;
    line-height: 1.2;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-2 .text-wrapper-2 {
    font-size: 42px;
    line-height: 1.2;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-2 .text-wrapper-3 {
    font-size: 42px;
    line-height: 1.2;
  }

  .over-500-government {
    font-size: 18px;
  }

  .over-500-government {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .we-deliver {
    font-size: 15px;
    line-height: 24px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 {
    margin-top: 12px;
    gap: 40px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .inner_banner_frame-4 .button .button-1 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .inner_banner_frame-4 .button {
    padding: 12px 14px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .inner_banner_frame-4 button.button-wrapper {
    padding: 12px 14px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .inner_banner_frame-4 {
    gap: 20px;
  }

  .homepage-anm .body-section .top-banner .banner_frame .banner_frame-3 .inner_banner_frame-4 button.button-wrapper .button-2 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .center-node .inner-circle p {
    font-size: 15px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card .card-content .card-title {
    font-size: 18px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card .card-content .card-desc {
    font-size: 15px;
  }

  .homepage-anm .body-section .top-banner {
    padding: 35px 60px;
    /* padding-bottom: 20px; */
  }

  .homepage-anm .body-section .solutions-section {
    padding: 50px 60px;
    height: 1100px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card .card-content {
    padding: 15px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .center-node .inner-circle {
    width: 230px;
    height: 230px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .center-node {
    width: 350px;
    height: 350px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card .icon-circle img {
    height: 45px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card .icon-circle {
    width: 85px;
    height: 85px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .center-node .outer-ring {
    border: 1px dashed rgba(180, 200, 300, 0.39);
  }

  .homepage-anm .body-section .solutions-section .our-portfolio-parent {
    text-align: center;
    margin-bottom: 20px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card.card-left {
    top: 62%;
    left: 34px;
    width: 305px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .line-left {
    top: 40%;
    left: 230px;
    width: 210px;
    border: 1px dashed rgba(180, 200, 300, 0.39);
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card.card-right {
    top: 62%;
    right: 34px;
    width: 305px;
  }

  .homepage-anm .body-section .solutions-section .solutions-container .line-right {
    top: 40%;
    right: 230px;
    width: 210px;
    border: 1px dashed rgba(180, 200, 300, 0.39);
  }

  .homepage-anm .body-section .solutions-section .solutions-container .line-bottom {
    top: 74%;
    left: 50%;
    width: 150px;
    border: 1px dashed rgba(180, 200, 300, 0.39);
  }

  .homepage-anm .body-section .solutions-section .solutions-container .solution-card.card-bottom {
    top: 104%;
    left: 50%;
    width: 360px;
  }

  .homepage-anm .body-section .mid_banner-image .mid_banner-frame img {
    height: 430px;
  }

  .services-node-section {
    padding: 60px 60px;
    height: 875px;
  }

  .services-main-title {
    font-size: 48px;
  }

  .services-node-section .how-paragraph {
    font-size: 18px;
  }

  .service-num {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  .service-title {
    font-size: 18px;
  }

  .service-desc {
    font-size: 14px;
    width: 100%;
  }

  .service-icon-node {
    width: 75px;
    height: 75px;
  }

  .service-shape-card {
    width: 330px;
    height: 250px;

  }

  .service-shape-card::before {
    border: 1px solid var(--brand-500);
  }

  .inner-service-circle p {
    font-size: 15px;
  }

  .inner-service-circle {
    width: 230px;
    height: 230px;
  }

  .center-service-node {
    width: 350px;
    height: 350px;
  }

  .services-node-container {
    margin-top: 150px;
  }

  .node-pos-left {
    right: -50px;
  }

  .node-pos-right {
    left: -50px;
  }

  .node-pos-bottom {
    top: -50px;
  }

  .card-left-node {
    left: 7%;
  }

  .card-right-node {
    right: 7%;
  }

  .card-bottom-node {
    top: 295px;
  }

  .service-shape-card_02 {
    padding-Left: 45px;
  }

  .clients-section {
    padding: 24px 60px;
  }

  .homepage-anm section.body-section .clients-section .position-relative .row .stat-card .stat-number {
    font-size: 1.75rem;
  }

  .homepage-anm section.body-section .clients-section .position-relative .row .stat-card .stat-label {
    font-size: 14px;
  }

  .site-footer {
    padding: 30px 60px;
    padding-top: 80px;
  }

  .footer-title {
    font-size: 20px;
  }

  .brand-desc {
    font-size: 14px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .contact-info {
    font-size: 14px;
  }





  .banner-container {
    gap: 20px;
  }

  .banner-section {
    padding: 60px 60px;
    font-size: 15px;
  }

  .banner-container .icon-circle {
    width: 90px;
    height: 46px;
  }

  .banner-container .location .icon-circle {
    width: 65px;
    height: 46px;
  }

  .stat-box {
    gap: 20px;
  }

  .icon-circle i {
    color: #ffffff;
    font-size: 20px;
  }

  .banner-container .stat-text {
    font-size: 15px;
  }

  .banner-container .stat-text strong {
    font-size: 18px;
  }

  .highlight-header {
    font-size: 18px;
  }

  .logo-item img {
    max-height: 38px;
  }

  .logos-container {
    gap: 20px;
    flex-wrap: nowrap;
  }


  .wwb-title {
    font-size: 42px;
  }

  .wwb-subtitle {
    font-size: 18px;
  }

  .wwb-counter {
    font-size: 15px;
  }

  .wwb-btn {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }

  .what-we-build {
    /* background-color: #03050a; */
    padding: 60px 60px;
  }

  .wwb-slide-content {
    padding: 0 0px;
    gap: 5px;
  }

  .wwb-card-frame::after {
    left: 200px;
    border-radius: 0 90px 0 100px;
    border-top: 1px solid #2563eb;
    border-right: 1px solid #2563eb;
    border-bottom: 1px solid #2563eb;
    border-left: 1px solid #2563eb;
  }

  .wwb-card-frame {
    padding: 16px 0;
  }

  .wwb-image-container {
    overflow: visible;
  }

  .wwb-image-container img {
    width: 400px;
  }

  .wwb-slide-title {
    font-size: 18px;
    font-weight: 600;
  }

  .wwb-slide-desc {
    font-size: 15px;
    line-height: 1.5;
  }

  .homepage-anm .body-section .solutions-section .our-portfolio-parent .our-portfolio {
    font-size: 48px;
  }

  .homepage-anm .body-section .solutions-section .our-portfolio-parent .our-portfolio .our {
    line-height: 1.3;
    white-space: normal;
  }

  .homepage-anm .body-section .solutions-section .our-portfolio-parent .as-a-software {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 0px;
  }

  .cta-banner-section {
    padding: 30px 90px;
  }

  .cta-card {
    padding: 45px 40px;
  }

  .cta-title {
    font-size: 18px;
  }

  .cta-description {
    font-size: 15px;
  }

  .cta-icon-wrapper {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }

  .cta-arrow-wrapper {
    width: 50px;
    height: 50px;
  }

  .cta-arrow-wrapper i {
    font-size: 18px;
  }


  .lower_banner-image {
    margin-top: 60px;
  }

  .trust-expertise-section {
    /* background-color: #03050a; */
    padding: 60px;
  }

  .trust-title {
    font-size: 48px;
  }

  .stat-card {
    height: 215px;
    padding: 20px;
  }

  .stat-number {
    font-size: 46px;
  }

  .stat-label {
    font-size: 18px;
    margin-top: 8px;
  }

  .feature-card {
    min-height: 333px;
    padding: 10px 20px;
  }

  .feature-title {
    font-size: 46px;
  }

  .feature-list li {
    font-size: 18px;
  }


  .ai-fits-section {
    /* background-color: #03050a; */
    padding: 60px;
  }

  .ai-fits-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
  }

  .ai-fits-desc {
    line-height: 1.3;
    font-size: 18px;
  }

  .ai-fits-highlight {
    font-size: 18px;
    line-height: 1.3;
  }

  .ai-workflow-badge {
    font-size: 18px;
  }

  .ai-icon-circle {
    width: 55px;
    height: 55px;
    font-size: 20px;

  }

  .ai-steps-grid::before {
    top: 25px;
    border-top: 1px dashed rgba(255, 255, 255, 0.25);
  }

  .ai-step-title {
    font-size: 18px;
  }

  .ai-step-desc {
    font-size: 15px;
  }

  .faq-section {
    padding: 60px;
  }

  .faq-main-title {
    font-size: 48px;
    font-weight: 600;
  }

  .faq-side-heading {
    font-size: 18px;
    font-weight: 600;
  }

  .faq-side-desc {
    font-size: 18px;
    line-height: 1.3;
  }

  .faq-question {
    font-size: 15px;
    padding: 12px;
  }

  .faq-answer p {
    font-size: 15px;
    line-height: 1.3;
  }

  .faq-item.active .faq-question-text {
    font-size: 15px;
  }

  .faq-item.active .faq-answer {
    max-height: 200px;
    padding: 0 24px 12px 15px;
  }

  .talk-cta-section {
    padding: 8px 60px;
  }

  .talk-icon-wrapper {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

  .talk-arrow-wrapper {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .talk-title {
    font-size: 18px;
    font-weight: 600;
  }

  .talk-description {
    font-size: 15px;
    line-height: 1.3;
    margin: 0 0 18px 0;
  }
  .contact-item {
    font-size: 15px;
  }
  .faq-icon {
    font-size: 10px;
    color: #fff;
    width: 20px;
    height: 20px;
  }









  /* Idea to Impact Section Styles */
.idea-impact-section {
  /* background-color: #0b0c10; */
  /* Dark background matching the theme */
  padding: 60px 60px;
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 30px;
}

.idea-impact-section .content-col {
  padding-right: 40px;
}

.idea-impact-title {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 18px;
  line-height: 1.2;
}

.text-highlight-blue {
  color: #4c84ff;
  /* Highlighted light blue color */
}

.idea-impact-desc {
  font-weight: 400;
  color: #FFF;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 24px;
}

/* Learn More Button */
.btn-learn-more {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  /* background-color: #4c84ff; */
  /* color: #ffffff; */
  /* font-family: 'Inter', sans-serif; */
  /* font-weight: 600; */
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-learn-more:hover {
  background-color: #3b6edc;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(76, 132, 255, 0.3);
}

.btn-learn-more i {
  font-size: 0.9rem;
}

/* Right Side Image/Graphic */
.graphic-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.impact-graphic {
  width: 100%;
  max-width: 650px;
  height: auto;
  object-fit: contain;
}

/* Responsive Styles */
/* @media (max-width: 991px) {
  .idea-impact-section {
    padding: 50px 20px;
  }

  .idea-impact-section .content-col {
    padding-right: 0;
    margin-bottom: 40px;
  }

  .idea-impact-title {
    font-size: 2.2rem;
  }
} */
 .banner-container .stat-text p br{
  display: none;
 }
 .banner-container .stat-text br{
  display:none;
 }
}